@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500|Prata|Lato:300,400,700);

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Prata", serif;
  color: #033a6b;
  text-align: center;
  margin: 0 0 2px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #788aa3;
}
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
  display: none;
}

h2 {
  text-align: center;
  font-family: "Prata", serif;
  color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding-bottom: 2.25rem;
}
@media screen and (min-width: 641px) {
  h2 {
    font-size: 1.875rem;
  }
}
h2:after {
  content: "";
  width: 116px;
  height: 1px;
  position: absolute;
  background: #788aa3;
  left: 50%;
  bottom: 0;
  margin-left: -58px;
}

h3 {
  font-family: "Prata", serif;
  font-size: 1.125rem;
  color: #003768;
  text-align: center;
  margin-top: 2.1875rem;
  margin-bottom: 0;
}

h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #033a6b;
  letter-spacing: 1px;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9375rem;
}

.blocking {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.69);
  z-index: 2000;
  cursor: pointer;
  display: none;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
  width: 100%;
  height: 618px;
  background: #788aa3;
  position: relative;
}
/* .site-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
} */

.site-branding {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

body.home .site-header {
  width: 100%;
  height: 826px;
  position: fixed;
  top: 0;
  left: 0;
}
body.home .site-branding {
  margin-top: 0;
}

.site-title {
  font-family: "Prata", serif;
  color: #fff;
  font-size: 4.5rem;
  text-align: center;
  margin: 0 0 2px;
  text-shadow: 0px 5px 4px rgba(16, 16, 16, 0.34);
}
.site-title a {
  color: #fff;
}
.site-title em {
  font-style: normal;
  color: #788aa3;
}

.site-description {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.site-description sup {
  font-size: 0.875rem;
}
.site-description:after {
  content: "";
  width: 120px;
  height: 2px;
  background: #90a9cd;
  position: absolute;
  left: 50%;
  bottom: -23px;
  margin-left: -60px;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.main-navigation {
  /*padding-top: 1.6875rem;*/
  position: relative;
  z-index: 2001;
}
.main-navigation ul {
  list-style: none;
  background: rgba(255, 255, 255, 0.8);
  /*margin: 0 0 0 -2.75rem;
  text-align: center;
  line-height: 1;*/
}
.main-navigation ul li {
  display: inline-block;
  margin: 0 0 1% 0;
}
.main-navigation ul li a {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 650;
  text-transform: uppercase;
  /*color: #fff !important;*/
  color: black;
  letter-spacing: 2px;
  position: relative;
  margin-left: 3.5rem;
}
.main-navigation ul li a:hover {
  color: #C71585;
}
.main-navigation ul li a:before {
  content: "";
  width: 13px;
  height: 13px;
  background: url("../img/active-page_2x.png") no-repeat;
  background-size: 13px;
  position: absolute;
  top: 2px;
  left: -20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.main-navigation ul li a:hover:before, .main-navigation ul li a.active:before {
  opacity: 1;
}

body:not(.home) .main-navigation ul li.current_page_item a:before, body:not(.home) .main-navigation ul li.current_page_parent a:before,
body:not(.home) .main-navigation ul li.current_page_item a:before, body:not(.home) .main-navigation ul li.current-page-parent a:before {
  opacity: 1;
}

.fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: z-index 0.5s, 0.4s opacity ease-in-out;
  -moz-transition: z-index 0.5s, 0.4s opacity ease-in-out;
  -ms-transition: z-index 0.5s, 0.4s opacity ease-in-out;
  -o-transition: z-index 0.5s, 0.4s opacity ease-in-out;
  transition: z-index 0.5s, 0.4s opacity ease-in-out;
  height: 106px;
  z-index: -1;
  opacity: 0;
}
.fixed-header nav {
  padding-top: 5.6875rem;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  width: 100%;
}
.fixed-header nav ul {
  list-style: none;
  margin: 0% -5rem 0% 1rem;
  text-align: center;
  line-height: 1;
}
.fixed-header nav ul li {
  display: inline-block;
}
.fixed-header nav ul li a {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff !important;
  /*letter-spacing: 2px;*/
  color: #282828 !important;
  position: relative;
  margin-left: 2.75rem;
}
.fixed-header nav ul li a:hover {
  color: #fff;
}
.fixed-header nav ul li a:before {
  content: "";
  width: 13px;
  height: 13px;
  background: url("../img/active-page-fixed_2x.png") no-repeat;
  background-size: 13px;
  position: absolute;
  top: 2px;
  left: -20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.fixed-header nav ul li a:hover:before, .fixed-header nav ul li a.active:before {
  opacity: 1;
}
.fixed-header.visible {
  opacity: 1;
  z-index: 2001;
}

body:not(.home) .fixed-header nav ul li.current_page_item a:before, body:not(.home) .fixed-header nav ul li.current_page_parent a:before,
body:not(.home) .fixed-header nav ul li.current_page_item a:before, body:not(.home) .fixed-header nav ul li.current-page-parent a:before {
  opacity: 1;
}

.logged-in.admin-bar .fixed-header {
  top: 32px;
}

/*--------------------------------------------------------------
### Mobile Menu
--------------------------------------------------------------*/
.mobile-nav-menu {
  width: 100%;
  height: 60px;
  background: #788aa3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  display: none;
}
.mobile-nav-menu .mobile-logo {
  float: left;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 1.125rem 0.9375rem;
  margin: 0;
  font-family: "Prata", serif;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}
.mobile-nav-menu .mobile-logo img {
  width: auto;
  height: 40px;
}
.mobile-nav-menu .mobile-menu-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  font-size: 0.9375rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  height: 60px;
  padding: 20px 15px;
  background: #788aa3;
}
.mobile-nav-menu .mobile-menu-btn span {
  width: 25px;
  height: 2px;
  background: #fff;
  float: left;
  -webkit-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -moz-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -ms-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -o-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  margin-top: 0;
  margin-right: 5px;
}
.mobile-nav-menu .mobile-menu-btn span:before {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-top: 8px;
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -moz-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -ms-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -o-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  margin-right: 5px;
}
.mobile-nav-menu .mobile-menu-btn span:after {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 6px;
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -moz-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -ms-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  -o-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
  margin-right: 5px;
}
.mobile-nav-menu .mobile-menu-btn span.active {
  -moz-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  margin-top: 7px;
}
.mobile-nav-menu .mobile-menu-btn span.active:before {
  -moz-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  margin-top: 0px;
}
.mobile-nav-menu .mobile-menu-btn span.active:after {
  -moz-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  margin-top: -2px;
}
.mobile-nav-menu .mobile-menu-container {
  position: absolute;
  top: 60px;
  left: -100%;
  opacity: 0;
  background: #788aa3;
  background: rgba(120, 138, 163, 0.9);
  width: 100%;
  z-index: 1003;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
.mobile-nav-menu .mobile-menu-container.active {
  left: 0;
  opacity: 1;
}
.mobile-nav-menu .mobile-menu-container ul {
  list-style: none;
  margin: 0;
}
.mobile-nav-menu .mobile-menu-container ul li {
  text-align: center;
}
.mobile-nav-menu .mobile-menu-container ul li a {
  display: inline-block;
  font-family: "Prata", serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 1.125rem 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
}
.mobile-nav-menu .mobile-menu-container ul li a:before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("../img/active-page-mobile_2x.png") no-repeat;
  background-size: 17px;
  position: absolute;
  top: 22px;
  left: -25px;
  display: none;
}
.mobile-nav-menu .mobile-menu-container ul li a.active:before, .mobile-nav-menu .mobile-menu-container ul li a:hover:before {
  display: block;
}
.mobile-nav-menu .mobile-menu-container > ul {
  padding: 3.125rem 0 2rem;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
  padding: 2.5rem 0;
  clear: both;
  background: #fff;
  position: relative;
  z-index: 2;
  border-top: 1px solid #e0e0e0;
}
.site-footer .site-info {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #033a6b;
  max-width: 960px;
  margin: 0 auto;
  letter-spacing: 1px;
}
.site-footer .site-info a {
  font-weight: 500;
  color: #033a6b;
  text-decoration: underline;
}
.site-footer .site-info a:hover {
  color: #033a6b;
  text-decoration: none;
}
.site-footer .social-icons {
  display: block;
  float: right;
  font-size: 0.8125rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: -0.5rem;
}
.site-footer .social-icons a {
  display: inline-block;
  margin-left: 1.6875rem;
  color: #788aa3;
}
.site-footer .social-icons a:first-child {
  margin-left: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Homepage
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Couple Section
--------------------------------------------------------------*/
/*
.couple-section {
  max-width: none;
  background: #eee;
  margin-top: 826px;
  padding-bottom: 8.75rem;
  position: relative;
  z-index: 2;
}
*/
.couple-section {
  max-width: none;
  background: #eee;
  margin: 826px 150px 0px 150px;
  padding-bottom: 3.75rem;
  position:relative;
  z-index: 2;
}
.couple-section .large-12 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.couple-section .large-4 {
  padding-top: 9.8125rem;
}
.couple-section .large-4:first-child + .large-4 {
  padding-top: 4.375rem;
}
.couple-section h3 {
  display: block;
  font-size: 3.75rem;
  color: #788aa3;
  font-family: "Prata", serif;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.couple-section .desc {
  font-size: 0.8125rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  max-width: 260px;
  margin-top: 1.5rem;
  line-height: 22px;
  letter-spacing: 1px;
}
.couple-section .social {
  display: block;
  margin-top: 2.375rem;
}
.couple-section .social a {
  display: inline-block;
  margin-left: 1.6875rem;
}
.couple-section .social a:first-child {
  margin-left: 0;
}
.couple-section .headshot {
  display: block;
  width: 233px;
  height: 233px;
  position: absolute;
  top: -106px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.giant-ampersand {
  font-size: 13.25rem;
  font-family: "Prata", serif;
  color: #788aa3;
  text-align: center;
}
/*  media query for mobile sizes*/
@media screen and (max-width: 425px) {
  .couple-section{
    font-size: 0.7px;
    width:100%;
    margin-left:0px;
  }
}


/*--------------------------------------------------------------
Home Galleries
--------------------------------------------------------------*/
.dg-container {
  width: 1000px;
  height: 294px;
  position: relative;
  margin: 20px auto 0;
  overflow: hidden;
}

.dg-wrapper,
.dg-wrapper-g {
  width: 430px;
  height: 294px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.dg-wrapper a,
.dg-wrapper-g a {
  width: 430px;
  height: 294px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4 !important;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.dg-wrapper a.dg-transition,
.dg-wrapper-g a.dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-wrapper a img,
.dg-wrapper-g a img {
  display: block;
  visibility: hidden;
  position: relative;
}
.dg-wrapper a div,
.dg-wrapper-g a div {
  text-align: center;
  font-size: 16px;
  width: 100%;
  top: 0;
  position: absolute;
  height: 294px;
  color: #fff;
  background: rgba(0, 0, 0, 0.58);
  padding-top: 4.0625rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.dg-wrapper a div span,
.dg-wrapper-g a div span {
  display: block;
  width: 315px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}
.dg-wrapper a div .guest-name,
.dg-wrapper-g a div .guest-name {
  font-size: 1.9375rem;
  font-family: "Prata", serif;
  letter-spacing: 1px;
}
.dg-wrapper a div .guest-title,
.dg-wrapper-g a div .guest-title {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  line-height: 1;
  width: auto;
  margin: 13px 0 20px;
  letter-spacing: 1px;
}
.dg-wrapper a div .guest-title:before, .dg-wrapper a div .guest-title:after,
.dg-wrapper-g a div .guest-title:before,
.dg-wrapper-g a div .guest-title:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 4px;
}
.dg-wrapper a div .guest-title:before,
.dg-wrapper-g a div .guest-title:before {
  right: -50px;
}
.dg-wrapper a div .guest-title:after,
.dg-wrapper-g a div .guest-title:after {
  left: -50px;
}
.dg-wrapper a div .guest-story,
.dg-wrapper-g a div .guest-story {
  font-size: 0.8125rem;
  font-family: "Lato", sans-serif;
  line-height: 19px;
  letter-spacing: 1px;
}

.dg-wrapper a.dg-center,
.dg-wrapper-g a.dg-center {
  opacity: 1 !important;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.dg-wrapper a.dg-center:hover div,
.dg-wrapper-g a.dg-center:hover div {
  opacity: 1;
}

.dg-nav,
.dg-nav-g {
  width: 1000px;
  height: 47px;
  position: absolute;
  z-index: 1000;
  top: 246px;
  left: 50%;
  margin-left: -500px;
}
.dg-nav span,
.dg-nav-g span {
  text-indent: -999px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  width: 47px;
  height: 47px;
  opacity: 0.76;
  background: transparent url("../img/left-arrow.png") no-repeat;
  margin-left: -4px;
  position: relative;
  top: 171px;
}
.dg-nav span:hover,
.dg-nav-g span:hover {
  opacity: 1;
}
.dg-nav span.dg-next, .dg-nav span.dg-next-g,
.dg-nav-g span.dg-next,
.dg-nav-g span.dg-next-g {
  background: transparent url("../img/right-arrow.png") no-repeat;
  float: right;
  margin-right: -4px;
}

/*--------------------------------------------------------------
Bridesmaids Gallery
--------------------------------------------------------------*/
.bridesmaids-gallery {
  width: 100%;
  margin-top: 0;
  padding-top: 5.125rem;
  padding-bottom: 8.5rem;
  background: #eee;
  position: relative;
}
.bridesmaids-gallery h2 {
  color: #000;
  /*background: url("../img/high-heel_2x.png") center top no-repeat;*/
  background-size: 54px auto;
  padding-top: 5.375rem;
  margin-bottom: 3.6875rem;
}
.bridesmaids-gallery h2:after {
  width: 92px;
  margin-left: -46px;
  bottom: 8px;
}

.bridemaids-mobile-slider-wrap {
  display: none;
}

/*--------------------------------------------------------------
Groomsmen Gallery
--------------------------------------------------------------*/
.groomsmen-gallery {
  width: 100%;
  margin-top: 0;
  padding-top: 5.375rem;
  padding-bottom: 7.25rem;
  background: #333;
  position: relative;
}
.groomsmen-gallery h2 {
  color: #fff;
  /*background: url("../img/mustache_2x.png") center top no-repeat;*/
  background-size: 81px auto;
  padding-top: 5.0625rem;
  margin-bottom: 5rem;
}
.groomsmen-gallery h2:after {
  background: #fff;
  width: 100px;
  margin-left: -50px;
  bottom: 7px;
}

.groomsmen-mobile-slider-wrap {
  display: none;
}

/*--------------------------------------------------------------
Couple Gallery
--------------------------------------------------------------*/
.couple-gallery {
  width: 100%;
  background: #999;
  padding-top: 5.375rem;
  padding-bottom: 2.1875rem;
  text-align: center;
  position: relative;
  z-index: 2;
}
.couple-gallery .close-btn {
  display: block;
  width: 80px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
  z-index: 2002;
  position: absolute;
  top: 24px;
  right: 24px;
}
.couple-gallery .close-btn:hover {
  text-decoration: underline;
}
.couple-gallery .close-btn em {
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  margin-right: 5px;
}
.couple-gallery h2 {
  color: #fff;
  margin-bottom: 1.6875rem;
}
.couple-gallery h2:after {
  background: #fff;
}

.couple-slideshow-wrap {
  width: 890px;
  position: absolute;
  top: 306px;
  left: 50%;
  margin-left: -445px;
  z-index: -1;
  opacity: 0;
}
.couple-slideshow-wrap.visible {
  opacity: 1;
}
.couple-slideshow-wrap .bx-wrapper:first-child {
  max-width: 878px !important;
  height: 504px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.couple-slideshow-wrap .bx-wrapper:first-child .bx-viewport {
  height: 100% !important;
}
.couple-slideshow-wrap .bx-wrapper:first-child li {
  height: 100%;
}
.couple-slideshow-wrap .bx-wrapper:first-child li img {
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper {
  max-width: 880px !important;
  margin-top: 1.0625rem !important;
  position: relative;
  z-index: 2001;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-viewport {
  height: 115px !important;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-controls {
  position: absolute;
  top: -57px;
  left: -1px;
  width: 100%;
  height: 40px;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-prev,
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-next {
  display: block;
  width: 123px;
  height: 40px;
  font-size: 0.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background: #788aa3;
  background: rgba(120, 138, 163, 0.5);
  padding: 12px 15px;
  position: absolute;
  bottom: 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-prev:hover,
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-next:hover {
  background: #788aa3;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-prev:after,
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-next:after {
  content: "";
  display: block;
  width: 18px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-prev {
  right: 126px;
  text-indent: 18px;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-prev:after {
  left: 15px;
  background: url("../img/prev-arrow_2x.png") no-repeat;
  background-size: 18px auto;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-prev:hover:after {
  left: 10px;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-next {
  right: 0;
  text-indent: -18px;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-next:after {
  right: 23px;
  background: url("../img/next-arrow_2x.png") no-repeat;
  background-size: 18px auto;
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
.couple-slideshow-wrap .bx-wrapper + .bx-wrapper .bx-next:hover:after {
  right: 18px;
}

#couple-slideshow {
  height: 100%;
  margin: 0;
  padding: 0;
}

.couple-thumbs {
  margin-left: 0;
}
.couple-thumbs li {
  cursor: pointer;
  height: 115px;
  opacity: 0.55;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
}
.couple-thumbs li:hover, .couple-thumbs li.active-slide {
  opacity: 1;
}
.couple-thumbs li img {
  width: auto;
  max-width: none;
  height: 100%;
}

#gallery-launcher {
  display: inline-block;
  margin: 5.3125rem auto 0;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  position: relative;
  z-index: 2;
}
#gallery-launcher:hover {
  text-decoration: underline;
}

.couple-mobile-slider-wrap {
  display: none;
}

/** SCATTERED GALLERY **/
.il-scattered-gallery {
  width: 998px;
  height: 880px;
  margin: 0 auto;
  position: relative;
}
.il-scattered-gallery a {
  border: 3px solid #fff;
  -webkit-backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}
.il-scattered-gallery img {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.il-scattered-gallery .il-photo-02 {
  width: 453px;
  top: 86px;
  left: 36px;
  z-index: 2;
  -moz-transform: rotate(-4deg);
  /* IE 9 */
  -webkit-transform: rotate(-4deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-4deg);
  display: block;
}
.il-scattered-gallery .il-photo-03 {
  width: 356px;
  top: 52px;
  right: 103px;
  z-index: 6;
  -moz-transform: rotate(13deg);
  /* IE 9 */
  -webkit-transform: rotate(13deg);
  /* Chrome, Safari, Opera */
  transform: rotate(13deg);
  display: block;
}
.il-scattered-gallery .il-photo-04 {
  width: 330px;
  top: 205px;
  left: 120px;
  z-index: 3;
  -moz-transform: rotate(-7deg);
  /* IE 9 */
  -webkit-transform: rotate(-7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  display: block;
}
.il-scattered-gallery .il-photo-05 {
  width: 454px;
  top: 247px;
  right: 5px;
  z-index: 1;
  -moz-transform: rotate(3deg);
  /* IE 9 */
  -webkit-transform: rotate(3deg);
  /* Chrome, Safari, Opera */
  transform: rotate(3deg);
  display: block;
}
.il-scattered-gallery .il-photo-06 {
  width: 530px;
  left: 106px;
  bottom: 53px;
  z-index: 5;
  display: block;
}
.il-scattered-gallery .il-photo-07 {
  width: 417px;
  bottom: 9px;
  right: 8px;
  z-index: 6;
  -moz-transform: rotate(-6deg);
  /* IE 9 */
  -webkit-transform: rotate(-6deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-6deg);
  display: block;
}
.il-scattered-gallery .il-highlight {
  width: 557px;
  top: 50%;
  left: 50%;
  margin-top: -181px;
  margin-left: -260px;
  z-index: 7;
  display: block;
}
.il-scattered-gallery .il-highlight img {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.il-scattered-gallery .il-focus {
  opacity: 1;
  -moz-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.il-scattered-gallery .il-focus img {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.mobile-slider-wrap .bx-wrapper {
  position: relative;
}
.mobile-slider-wrap .bx-controls {
  width: calc(100% + 94px);
  height: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  margin-top: -24px;
}
.mobile-slider-wrap .bx-prev,
.mobile-slider-wrap .bx-next {
  display: block;
  width: 47px;
  height: 47px;
  text-indent: -999px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  opacity: 0.76;
  background: transparent url("../img/left-arrow.png") no-repeat;
}
.mobile-slider-wrap .bx-prev:hover,
.mobile-slider-wrap .bx-next:hover {
  opacity: 1;
}
.mobile-slider-wrap .bx-next {
  background: transparent url("../img/right-arrow.png") no-repeat;
  float: right;
}

/*--------------------------------------------------------------
Recent Posts
--------------------------------------------------------------*/
.recent-posts {
  width: 100%;
  float: left;
  background: #f5f5f5;
  padding-top: 8.1875rem;
  padding-bottom: 8.75rem;
  position: relative;
  z-index: 2;
}
.recent-posts h2 {
  color: #000;
}
.recent-posts h2:after {
  width: 124px;
  margin-left: -62px;
  bottom: 6px;
}
.recent-posts .grid-container {
  margin: 3.5rem auto 0;
}
.recent-posts img{
  width: 100%;
  height: 50%;
}

/*--------------------------------------------------------------
## Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
/* embed,
iframe,
object {
  max-width: 100%;
} */
/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  padding: 8px;
  position: relative;
}
.gallery-item a {
  display: block;
  width: 100%;
  height: auto;
}
.gallery-item img {
  width: 100%;
  height: auto;
}
.gallery-item:hover {
  opacity: 0.8;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
  font-size: 13px;
  padding: 0 10px;
  background: #f6f6f6;
  overflow: hidden;
  height: 28px;
  line-height: 2;
  word-break: break-all;
  color: #666666;
}
/*--------------------------------------------------------------
Contact Section
--------------------------------------------------------------*/
.contact-section {
  width: 100%;
  background: #333;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
  position: relative;
  z-index: 2;
}
.contact-section h2 {
  color: #282828;
  padding-bottom: 1.0625rem;
}
.contact-section h2:after {
  width: 72px;
  margin-left: -36px;
}
.contact-section .footer-context ul
{
  width: 25%;
  margin: 10px 10px;
  padding: 0;
  list-style: none;
  float: left;
}
.contact-section .footer-context ul li{
  color: white;
  text-align: center;
  /*width: 50%;
  height: 50%;
  border: 1px  solid black;*/
  /*float: left;*/
  /*line-height: 70px;*/
  /*margin: 30px 30px 30px 30px;*/
}
.contact-section .footer-context ul li a
{
    color: white;
    text-decoration: none;
}
.contact-section .footer-context ul li:hover
{
  /*background-color: black;
  box-shadow: 2px black;
  border-radius: 5px 5px;*/
}
/*
.contact-section .container .table-responsive .table thead{
  background-color: #514F62;
  font-size: 20px;
  color: white;
  border: none;
}
.contact-section .container .table-responsive .table tbody{
  background-color: #514F62;
  border: none;
}
.contact-section .container .table-responsive .table tbody tr{
  color: white;
}
.contact-section .container .table-responsive .table tbody tr td a{
  color: white;
  text-align: right;
  /*margin: 0 50px 0 0;*/
}*/
.contact-desc {
  text-align: center;
  color: white;
  width: 336px;
  margin: 2.5625rem auto 2.1875rem;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  line-height: 19px;
  letter-spacing: 1px;
}
.contact-desc em {
  display: block;
  font-style: normal;
  text-decoration: underline;
}
/* .......verified profile .....*/
.verified{
  background-size:cover;
  background: #eee;
  height:125px;
  position:relative;
  index:2;
}
.inner-verified{
    margin:0% 5% 0.5% 5%; 
    background-color:#95B9C7; 
    width:100%; 
    /*height:250px; */
    z-index:3; 
    position:relative; 
    border-radius:5px;
}

/*--------------------------------------------------------------
RSVP Section
--------------------------------------------------------------*/
.rsvp-section {
  width: 100%;
  /*height: 40%;*/
  background: #ddd;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
  position: relative;
  z-index: 2;
}
.rsvp-section h2 {
  color: black;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  margin: 0 5% 0 0;
}
/*.rsvp-section p {
  color: black;
  font-size: 70%;
}*/
.rsvp-desc1 {
  text-align: center;
  /*float: left;*/
  color: black;
  width: 150px;
  /*margin: 1.3125rem auto 3.4375rem;*/
  font-family: "Lato", sans-serif;
  font-size: 70%;
  line-height: 19px;
  letter-spacing: 1px;
}

body.search .site-header,
body.archive .site-header {
  display: none;
}
body.search .fixed-header,
body.archive .fixed-header {
  display: block;
  opacity: 1;
  z-index: 2001;
}
body.search .site-content,
body.archive .site-content {
  margin-top: 106px;
}
body.search .page-title,
body.archive .page-title {
  color: #033a6b;
  font-size: 32px;
  text-align: left;
  margin: 0;
}
body.search .site-main,
body.archive .site-main {
  margin-top: 50px;
}

.search-no-results .site-main.grid-padding-x {
  height: auto !important;
  margin-left: 0;
  margin-right: 0;
}
.search-no-results .site-main.grid-padding-x p {
  width: 100%;
  clear: both;
}
.search-no-results .site-main.grid-padding-x .search-form {
  min-width: 350px;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 1270px) {
  .main-navigation ul li a,
  .fixed-header nav ul li a {
    margin-left: 2.125rem;
  }
}
@media screen and (max-width: 1200px) {
  .main-navigation ul li a,
  .fixed-header nav ul li a {
    margin-left: 1.375rem;
  }
  .main-navigation ul li a:before,
  .fixed-header nav ul li a:before {
    left: -15px;
  }
}
/** Tablet Landscape **/
@media screen and (max-width: 1024px) {
  .mobile-nav-menu,
  .bridemaids-mobile-slider-wrap,
  .groomsmen-mobile-slider-wrap,
  .couple-mobile-slider-wrap {
    display: block;
  }

  .main-navigation,
  #bridesmaids-carousel,
  #groomsmen-carousel,
  .dg-nav,
  .dg-nav-g,
  .il-scattered-gallery,
  #couple-gallery .close-btn,
  #gallery-launcher,
  .couple-slideshow-wrap {
    display: none;
  }

  .blocking,
  .fixed-header {
    display: none !important;
  }

  .site-header {
    margin-top: 60px;
  }

  body.home .site-header {
    position: relative;
    padding-top: 8.75rem;
    padding-bottom: 12.3125rem;
    height: auto;
  }
  body.home .site-branding {
    position: relative;
    transform: translateY(0);
  }

  .site-branding {
    margin-top: 0 !important;
  }

  .couple-section {
    margin-top: 0;
  }

  .bx-wrapper {
    max-width: 429px !important;
  }

  .couple-gallery {
    padding-bottom: 7.25rem;
  }

  .site-footer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}
/** Tablet Portrait **/
@media screen and (max-width: 768px) {  
}
/** Mobile **/
@media screen and (max-width: 640px) {
  .site-header {
    height: auto;
    min-height: 320px;
  }

  .site-title,
  .page-title {
    font-size: 2.25rem;
  }

  body.home .site-header {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .site-description {
    font-size: 1rem;
    line-height: 1.4;
  }

  .section-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .couple-section {
    padding-top: 0;
  }
  .couple-section .large-4 {
    position: relative;
    padding-top: 30px;
  }
  .couple-section h3, .couple-section p {
    text-align: center;
  }
  .couple-section h3 {
    font-size: 1.875rem;
  }
  .couple-section .headshot {
    position: static;
    margin: 0 auto 30px;
  }
  .couple-section .desc {
    max-width: none;
  }

  body:not(.home) .site-content {
    padding: 15px 0 0;
  }

  .site-footer {
    padding-top: 1.25rem;
    padding-bottom: 1.125rem;
  }
  .site-footer .site-info {
    text-align: center;
    line-height: 1.4;
  }
  .site-footer .social-icons {
    float: none;
    clear: both;
    margin-top: 0.9375rem;
  }
}
@media screen and (max-width: 599px) {
}
@media screen and (max-width: 541px) {
  
  .mobile-slider-wrap .bx-controls {
    width: 100%;
    left: 0;
  }

  .grid-padding-x .grid-padding-x {
    margin-left: 0;
    margin-right: 0;
  }
}
/** Mobile **/
@media screen and (max-width: 480px) {
  .mobile-nav-menu .mobile-logo {
    font-size: 0.875rem;
    padding: 1.25rem 0.9375rem;
  }
}
/** iPhone **/
@media screen and (max-width: 320px) {
  
}